<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoniu.cleanking">

    <uses-sdk tools:overrideLibrary="com.example.fixedfloatwindow, com.juxinli.normandy" />

    <permission
        android:name="com.xiaoniu.cleanking.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="com.xiaoniu.cleanking.app.AppApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6c0f162f789cb257e51ceecc1e6b88ec" />

        <meta-data
            android:name="com.xiaoniu.cleanking.app.ApplicationDelegate"
            android:value="IModuleConfig" />

        <activity
            android:name="com.xiaoniu.cleanking.ui.main.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiaoniu.cleanking.ui.main.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Main.Theme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.xiaoniu.cleanking.ui.usercenter.activity.UserLoadH5Activity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.FileManagerHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.usercenter.activity.FloatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_activity" />
        <activity
            android:name=".ui.main.activity.PreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tool.wechat.activity.WechatCleanedResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.NewsLoadActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"/>

        <meta-data
            android:name="PARTNER_CODE"
            android:value="hlxx" />

        <activity
            android:name=".ui.main.activity.JunkCleanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.PhoneAccessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.PhoneCoolingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.CleanInstallPackageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.main.activity.CleanMusicManageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.usercenter.activity.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.CleanBigFileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.CleanVideoManageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.HardwareInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.ProcessInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.WhiteListInstallPackgeManageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.WhiteListSpeedManageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.usercenter.activity.FeedBackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.WhiteListSpeedAddActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.CleanFinishActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tool.wechat.activity.WechatCleanHomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tool.wechat.activity.WechatCleanFileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tool.wechat.activity.WechatCleanAudActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tool.wechat.activity.WechatCleanResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.WhiteListSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.usercenter.activity.PermissionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.usercenter.activity.PermissionDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".ui.main.activity.QuestionReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.activity.SimplePhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 手机瘦身-->
        <activity
            android:name=".ui.main.activity.PhoneThinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--手机瘦身结果页-->
        <activity
            android:name=".ui.main.activity.PhoneThinResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 软件管理-->
        <activity
            android:name=".ui.main.activity.SoftManageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.WXCleanImgActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.WXCleanVideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.main.activity.QQCleanImgActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.QQCleanVideoActivity" />

        <activity
            android:name=".ui.tool.qq.activity.QQCleanHomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tool.qq.activity.QQCleanFileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tool.qq.activity.QQCleanAudActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.xiaoniu.cleanking.utils.update.UpdateFileProvider"
            android:authorities="${applicationId}.updatefileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_cache_path" />
        </provider>


        <service android:name=".ui.usercenter.activity.FloatingImageDisplayService"></service>


        <receiver android:name="com.xiaoniu.common.hotfix.listener.MyPatchListener$ScreenBroadcastReceiver" />

        <!-- 热修复回调 -->
        <service
            android:name="com.xiaoniu.cleanking.hotfix.service.HotFixResultService"
            android:exported="false" />

        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name="com.xiaoniu.cleanking.jpush.JPushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.xiaoniu.cleanking" />
            </intent-filter>
        </receiver>

    </application>

</manifest>